{
  "plugins": ["prettier-plugin-tailwindcss"],
  "jsxSingleQuote": true,
  "prettier.bracketSameLine": true,
  "prettier.arrowParens": "avoid",
  "prettier.trailingComma": "all",
  "prettier.singleQuote": true,
  "prettier.printWidth": 70,
  "prettier.useTabs": true,
  "prettier.semi": false
}
